  

  <div id="em_modal" class="modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="ion-android-person"></i> Employee Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
                  
                  <div class="col-xs-6" id="emp_nameDiv" class='form-group'> 
                    <label><font color="darkred">*</font>Full Name</label> <!-- Prod_Name -->
                    <input type="text" name="emp_name" class="form-control input-lg" id="emp_name" required>
                  </div>               

                  <div class="col-xs-6" id="emp_phoneDiv"> 
                    <label>Cellphone</label> <!-- Prod_Name -->
                    <input type="number" class="form-control input-lg" id="emp_phone" data-inputmask='"mask": "9999-999-9999"' data-mask>
                  </div>    

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 2-->                             

                  <div class="col-xs-6" id="emp_telDiv"> 
                    <label>Telephone</label> <!-- Prod_Name -->
                    <input type="number" class="form-control input-lg" id="emp_tel" data-inputmask='"mask": "999-99-99"' data-mask>
                  </div>   

                  <div class="col-xs-6" id="emp_depDiv"> 
                    <label><font color="darkred">*</font>Department</label> <!-- Prod_Name -->
                    <select  onchange='populate_pos_dropdown(this.value)' class="form-control input-lg" id="emp_dep" >
                      <option></option>
                    </select>
                  </div>   

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px">

                  <div class="col-xs-6" id="emp_posDiv"> 
                    <label><font color="darkred">*</font>Position</label> <!-- Prod_Name -->
                    <select class="form-control input-lg" id="emp_pos">
                      <option></option>
                    </select>
                  </div>   

                  <div class="col-xs-6" id="emp_addDiv"> 
                    <label>Address</label> <!-- Prod_Name -->
                    <textarea type="text" class="form-control input-lg" id="emp_add" style="resize:none"></textarea>
                  </div>    

                </div>

                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_em_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 