
<div id="dep_modal" class="modal" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>              
                <h4 class="modal-title"><i class="fa fa-briefcase"></i> Department Form </h4>
            </div> 
            <form>
              <div class="modal-body" >
                <div class="row" style="margin-b
                ottom:5px"> <!-- ROW 1 -->
                  <div class="col-xs-12" id="depnameDiv"> 
                    <label><font color="darkred">*</font>Department Name</label> <!-- Prod_Name -->
                    <input type="text" name ="depname" class="form-control input-lg has-error" id="depname">
                  </div>                                                                                                                               
                </div> <!-- /.row -->     
                </form>
              </div>
              <div class="modal-footer">
                  <button  id="btn_dep_save" class="btn bg-blue btn-lg btn-block" ><i class="fa fa-send"></i> Save Department </button>                                
              </div>
            </form>
        </div>
    </div>
</div> 
