
<div id="pos_modal" class="modal" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>              
                <h4 class="modal-title"><i class="fa fa-black-tie"></i> Position Form </h4>
            </div> 
            <form>
              <div class="modal-body" >
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

                  <div class="col-xs-6" id="posnameDiv"> 
                    <label><font color="darkred">*</font>Position Name</label> <!-- Prod_Name -->
                    <input type="text" name ="posname" class="form-control input-lg " id="posname">
                  </div>                                                                                                              

                  <div class="col-xs-6" id="posdepDiv"> 
                    <label><font color="darkred">*</font>Department</label> <!-- Prod_Name -->
                    <select id="posdep" class="form-control input-lg " style="width: 100%;">
                    </select>              
                  </div>     
                </div>

                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

                  <div class="col-xs-6" id="pos_optypeDiv"> 
                    <label><font color="darkred">*</font>Operation Type</label> <!-- Prod_Name -->
                    <select id="pos_optype" class="form-control input-lg " >
                      <option></option>
                      <option value="general">General</option>
                      <option value="transport operation">Transport Operation</option>
                      <option value="logistic administration">Logistic Administration</option>
                    </select>              
                  </div>    

                  <div class="col-xs-6" id="pos_descDiv">
                    <label>Description</label> <!-- Prod_Name -->
                    <textarea id="pos_desc" class="form-control input-lg" style="resize:none" rows="2"></textarea>
                  </div>

                </div> <!-- /.row -->     
                </form>
              </div>
              <div class="modal-footer">
                  <button  id="btn_pos_save" class="btn bg-blue btn-lg btn-block" ><i class="fa fa-send"></i> Save Position </button>                                
              </div>
            </form>
        </div>
    </div>
</div> 
