  

  <div id="su_modal" class=" modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="ion-android-person"></i> Supplier Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
                  
                  <div class="col-xs-6" id="su_nameDiv" class='form-group'> 
                    <label><font color="darkred">*</font> Name</label> <!-- Prod_Name -->
                    <input type="text" name="su_name" class="form-control input-lg" id="su_name" required>
                  </div>               

                  <div class="col-xs-6" id="su_phoneDiv"> 
                    <label>Cellphone</label> <!-- Prod_Name -->
                    <input type="number" class="form-control input-lg" id="su_phone" data-inputmask='"mask": "9999-999-9999"' data-mask>
                  </div>    

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 2-->                             

                  <div class="col-xs-6" id="su_telDiv"> 
                    <label>Telephone</label> <!-- Prod_Name -->
                    <input type="number" class="form-control input-lg" id="su_tel" data-inputmask='"mask": "999-99-99"' data-mask>
                  </div>   

                  <div class="col-xs-6" id="su_descDiv"> 
                    <label>Description</label> <!-- Prod_Name -->
                    <textarea id="su_desc" class="form-control" style="resize:none" rows="2"></textarea>
                  </div>   

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->


                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_su_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 