
<div id="co_modal" class="modal" >
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>              
                <h4 class="modal-title"><i class="fa fa-building-o"></i> Company Form </h4>
            </div> 
            <form>
              <div class="modal-body" >
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

                  <div class="col-xs-6" id="co_nameDiv"> 
                    <label><font color="darkred">*</font>Company Name</label> <!-- Prod_Name -->
                    <input type="text" class="form-control input-lg " id="co_name">
                  </div>                                                                                                              

                  <div class="col-xs-6" id="co_groupDiv"> 
                    <label><font color="darkred">*</font>Group</label> <!-- Prod_Name -->
                    <select id="co_group" class="form-control input-lg " style="width: 100%;">
                    </select>              
                  </div>     

                </div> <!-- /.row -->     

              <div class="row" style="margin-bottom:5px">
                <div class="col-md-12" id="co_descDiv">
                  <label>Description</label> <!-- Prod_Name -->                  
                  <textarea class="form-control input-lg " id="co_desc" style="resize:none;" rows="2"></textarea>
                </div>
              </div>

                </form>
              </div>
              <div class="modal-footer">
                  <button  id="btn_co_save" class="btn bg-blue btn-lg btn-block" ><i class="fa fa-send"></i> Save Company </button>                                
              </div>
            </form>
        </div>
    </div>
</div> 
