  <div id="remarks_modal" class="modal fade" >
      <div class="modal-dialog modal-sm">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-edit"></i> Update Remarks </h4>
              </div>          
          <div class="modal-body" style="text-align:center">
            <textarea class="form-control" id="doc_remarks" style="resize:none; " rows="5"></textarea>
          </div>
          <div class="modal-footer">                                 
            <button id="btn_save_remarks" class="btn bg-blue btn-lg btn-block"><i class="fa fa-check" title="Save New Remarks"></i> UPDATE</button>   
        </div>
          </div>
      </div>
  </div> 