  

  <div id="update_modal" class="modal fade" >
      <div class="modal-dialog modal-lg">
          <div class="modal-content" >
              <div class="modal-header">
                  <button onclick='$("#update_table").find("tr:gt(0)").remove();' type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-send"></i> Update to Shipped </h4>
              </div>          
          <div class="modal-body" style="text-align:center">
            <h3 id="total_at_modal" class="text-warning lead"></h3>
            <h4 id="confirmQty" >Check & Verify Product List</h4><hr>
            <button id="btn_update" class="btn btn-lg bg-green" data-toggle="tooltip" title="Update Document to Shipped" > <i class="fa fa-send"></i> UPDATE TO SHIPPED </button>           
            <hr> 

            <table id="update_table" class="table table-bordered table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th style="width:120px">Product ID</th>
                  <th>Product Name</th>     
                  <th>SKU</th>                                                    
                  <th>Variant</th> 
                  <th>Category</th>   
                  <th>Supplier</th>                                                   
                  <th>Price</th>  
                  <th style="width:120px">Qty</th>                            
                </tr>
                <tbody></tbody>
              </thead>
            </table>

            <hr>
            <p class="text-muted"><small>
              Click the button (Update to Shipped) to submit document. <br>
              Note: This cannot be undo once changes has been made.</small></p>                               
          </div>
          </div>
      </div>
  </div> 