  

  <div id="lo_modal" class=" modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-map-marker"></i> Location Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
                  
                  <div class="col-xs-6" id="lo_nameDiv"> 
                    <label><font color="darkred">*</font>Location Name</label> <!-- Prod_Name -->
                    <input type="text" class="form-control input-lg" id="lo_name" >
                  </div>           

                  <div class="col-xs-6" id="lo_coDiv"> 
                    <label><font color="darkred">*</font>Company</label> <!-- Prod_Name -->
                    <select type="text" class="form-control input-lg" id="lo_co" placeholder="Search">
                      <option value="none" >--Search Company--</option>                     
                    </select>
                  </div>    

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

                  <div class="col-xs-7" id="lo_addDiv"> 
                    <label>Address</label> <!-- Prod_Name -->
                    <textarea type="text" class="form-control input-lg" id="lo_add" style="resize:none" rows="2" ></textarea>
                  </div> 

                  <div class="col-xs-5" id="lo_typeDiv"> 
                    <label><font color="darkred">*</font>Type</label> <!-- Prod_Name -->
                    <select type="text" class="form-control input-lg" id="lo_type" >
                      <option value="none" id="optnone">--Select Type--</option>
                      <option value="branch">Branch</option>
                      <option value="warehouse">Warehouse</option>
                    </select>
                  </div>                   

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->


                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_lo_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 