  

  <div id="ve_modal" class=" modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-truck"></i> Vehicle Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
                  
                  <div class="col-xs-6" id="ve_typeDiv" class='form-group'> 
                    <label><font color="darkred">*</font>Type</label> <!-- Prod_Name -->
                    <select class="form-control input-lg" id="ve_type">
                      <option></option>
                    </select>
                  </div>               

                  <div class="col-xs-6" id="ve_noDiv"> 
                    <label><font color="darkred">*</font>Vehicle No./Plate No.</label> <!-- Prod_Name -->
                    <input type="text" class="form-control input-lg" id="ve_no" >
                  </div>    

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 2-->                             

                  <div class="col-xs-12" id="ve_descDiv"> 
                    <label><font color="darkred">*</font>Description</label> <!-- Prod_Name -->
                    <textarea class="form-control input-lg" id="ve_desc" rows="3" style="resize:none"></textarea>
                  </div>   

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->


                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_ve_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 