  

  <div id="cat_modal" class="modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-sitemap"></i> Category Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
              
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
                  
                  <div class="col-xs-12" id="cat_nameDiv" class='form-group'> 
                    <label><font color="darkred">*</font>Category Name</label> <!-- Prod_Name -->
                    <input type="text" class="form-control input-lg" id="cat_name">
                  </div>               

                </div> <!-- /.row -->   


              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_cat_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 