

  <div id="pr_modal" class="modal" >
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-dashcube"></i> Product Form </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:10px"> <!-- ROW 1 -->
                  
                  <div class="col-md-6" id="pr_nameDiv"> 
                    <label><font color="darkred">*</font>Product Name</label> <!-- Prod_Name -->
                    <input id="pr_name" type="text" name="pr_name"class="form-control" style="width:270px">                    
                  </div>           


                  <div class="col-md-6" id="pr_skuDiv"> 
                    <label><font color="darkred">*</font>Product SKU</label> <!-- Prod_Name -->
                    <input type="text" class="form-control " id="pr_sku" >
                  </div>           



                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:10px"> <!-- ROW 1 -->
                  <div class="col-md-6" id="pr_supDiv"> 
                    <label><font color="darkred">*</font>Supplier</label> <!-- Prod_Name -->
                    <select type="text" class="form-control " id="pr_sup">
                      <option value="none" >--Search--</option>                     
                    </select>
                  </div>    

                  <div class="col-md-6" id="pr_coDiv"> 
                    <label><font color="darkred">*</font>Company</label> <!-- Prod_Name -->
                    <select type="text" class="form-control " id="pr_co" placeholder="Search">
                      <option value="none" >--Search--</option>                     
                    </select>
                  </div>    
                </div><!--/.row-->

                <div class="row" style="margin-bottom:10px"> <!-- ROW 1 -->
                  <div class="col-md-6" id="pr_catDiv"> 
                    <label><font color="darkred">*</font>Category</label> <!-- Prod_Name -->
                    <select type="text" class="form-control " id="pr_cat" placeholder="Search">
                      <option value="none" >--Search--</option>                     
                    </select>
                  </div> 

                  <div class="col-md-6" id="pr_varDiv"> 
                    <label><font color="darkred">*</font>Unit Of Measurement (UOM)</label> <!-- Prod_Name -->
                    <input type="text" class="form-control " id="pr_var" >
                  </div>  

                </div>

<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:10px"> <!-- ROW 1 -->

                  <div class="col-md-6" id="pr_priceDiv"> 
                    <label><font color="darkred">*</font>Price</label> <!-- Price -->
                    <div class="input-group">
                       <span class="input-group-addon">₱</span>
                       <input type="number" class="form-control " id="pr_price">
                    </div>
                  </div>

                  <div class="col-md-6" id="pr_tresholdDiv"> 
                    <label><font color="darkred">*</font>Treshold</label> <!-- Price -->
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-info-circle"></i></span>
                       <input type="number" class="form-control " id="pr_treshold">
                    </div>
                  </div>                  

                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->


                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn_pr_save" class="btn bg-blue btn-lg btn-block" data-dismiss="modal fade"><i class="fa fa-send"></i> SAVE</button>                                
              </div>
          </div>
      </div>
  </div> 