    <script src="../../resources/plugins/select2/select2.min.js"></script>
    <link href="../../resources/plugins/select2/select2.css" rel="stylesheet" />
    <link href="../../resources/plugins/select2/bootsrap-select.css" rel="stylesheet" />



  <div id="gd_modal" class="modal fade" >
      <div class="modal-dialog modal-sm">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" title="Close" data-dismiss="modal" aria-hidden="true">&times;</button>                
                  <h4 class="modal-title"> <i class="fa fa-folder-o"></i> Select Group </h4>
              </div>          
              <div class="modal-body" >
<!-- ------------------------------------------------------------------------------------------- -->
                <div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->

                  <div class="col-md-12">
                    <div class="form-group" id="gd_nameDiv">
                      <select id="gd_name" class="form-control input-lg" placeholder="--- Select a Group --">
                      </select>
                    </div><!-- /.form-group -->                    
                  </div>



                </div> <!-- /.row -->   
<!-- ------------------------------------------------------------------------------------------- -->



              </div>
              <div class="modal-footer" style="text-align:center ">
                  <button class="btn btn-lg btn-block bg-green" style="font-size:22px;" id="btn_gd_submit" data-toggle='tooltip' title="Select Group" data-placement='top'>
                    <i class="ion-android-checkbox-outline"></i> Select
                  </button>                    
              </div>
          </div>
      </div>
  </div> 