  <div id="loading" class="modal fade">
    <div class="modal-dialog">
      <div class="overlay">
        <div class="modal-body" style="text-align:center">
          <div class="overlay">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <i class="fa fa-spinner fa-pulse fa-spin" style="font-size:60px;"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 

                      <div id="delModal" class="modal">
                          <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title">Confirmation</h4>
                                  </div>
                                  <div class="modal-body">
                                      <h4>Do you want to Delete?</h4>
                                      <p class="text-warning"><small>Click Delete Record to continue, or Cancel to quit.</small></p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" id="btnDel" value="" class="btn-block btn-lg btn btn-danger">Delete Record</button>                                  
                                      <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Cancel</button>
                                  </div>
                              </div>
                          </div>
                      </div>   