  

  <div id="confirm_modal" class="modal fade" >
      <div class="modal-dialog modal-sm">
          <div class="modal-content" >
              <div class="modal-header">
                  <button type="butt on" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> <i class="fa fa-info"></i> Confirmation </h4>
              </div>          
          <div class="modal-body" style="text-align:center">
            <h3 id="total_at_modal" class="text-warning lead"></h3>
            <h4 id="confirmQty" >Save this Record?</h4>
            <h4> <text id="howmuch" > </h4>
            <p class="text-muted"><small>Note: This cannot be undo once changes has been made.</small></p>                               
          </div>
          <div class="modal-footer">                                 
            <button id="btn_save_pending" onclick="save_record('pending')" class="btn btn btn-lg bg-orange pull-left"><i class="fa fa-circle-o" ></i> PENDING</button>
            <button onclick='save_record("shipped")' id="btn_save_shipped" class="btn bg-green btn-lg pull-right"><i class="fa fa-check"></i> SHIPPED</button>   
        </div>
          </div>
      </div>
  </div> 